<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css">

    <title>Document</title>
</head>

<body>
    <form action="" class="form">
        <input type="text" name="" placeholder="email@__.fr" />
        <input type="password" name="" placeholder="password..." />
        <input type="submit" value="Connexion" />
        <button class="deconnexion">Se déconnecté</button>
    </form>
    <% if(isAdmin) {%>
        <a href="/admin">Voir les codes d'accès</a>
        <%}%>
            <script src="js/index.js"></script>
</body>

</html>