<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css">
    <title>Home</title>

<body>
    <h3>Ces informations sont classées secret défense, vous n'avez pas les accréditations</h3>
</body>

</html>