<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Voici les détails de votre compte : </h1>
    <ul>
        <li>email : <%= myInfos.email %>
        </li>
        <li>Profil : <%= myInfos.profil %>
        </li>
    </ul>
</body>

</html>